*{
  margin: 0;
  padding: 0;
  font-size: 14px;
}
body{
  background-color: pink; 
  height: 100vh;  
  display: grid;
  grid-template-columns: 20% 80%;
}

.sidebar{
  display: grid    
}

.box {
  background-color: palevioletred;
  margin: 50px
}

#week{
  display: inline-grid;
  grid-template-columns: calc(100%/7) calc(100%/7) calc(100%/7) calc(100%/7) calc(100%/7) calc(100%/7) calc(100%/7);
  grid-column-gap: 1px;
  text-align: center;
  margin: 25px 25px
}

#week ul{
  background-color: cornflowerblue;
  list-style: none;
}

#week h5{
  font-size: 12px;
  padding: 15px;
  font-family: 'Pacifico', cursive;
}